.input:focus {
}

.input {
    border-radius: 4px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
}

.error {
    color: #cc0000;
    font-size: 12px;
}
