.sendForm {
    display: flex;
}

.textarea {
    resize: none;
    min-height: 40px;
    background-color: #DDEEFF;
    border-radius: 20px;
    width: 976px;
    padding-top: 10px;
}
.textarea::placeholder{
    padding-top: 10px;
    padding-left: 20px;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.button:hover {
}
.button:active {
}
